In [10]:
import pandas as pd
import numpy as np

In [2]:
candyData = pd.read_csv('candyhierarchy2017.csv',encoding = 'ISO-8859-1')

In [3]:
state_df=candyData['Q5: STATE, PROVINCE, COUNTY, ETC']

In [4]:
pd.set_option('display.max_rows', 3000)

# Columns 1 through 3

In [5]:
candyData.set_index('Internal ID', inplace = True)

In [6]:
candyData = candyData.rename(columns={'Q3: AGE': 'Age', 'Q1: GOING OUT?': 'Going_out', 'Q2: GENDER': 'Gender'} )

In [8]:
#candyData.head()

In [9]:
candyData.Age.describe()

count     2376
unique     106
top         40
freq        92
Name: Age, dtype: object

In [14]:
#candyData.Age.value_counts()

In [16]:
candyData.Age.isnull().sum()

84

In [17]:
candyData['Age'] = candyData['Age'].str.replace('\D+', '  ')

In [20]:
candyData['Age'] = candyData['Age'].str.replace(' ', '')

In [22]:
#candyData.Age.value_counts()

In [24]:
candyData['Age'] = pd.to_numeric(candyData['Age'], errors='coerce')

In [25]:
candyData.Age.isnull().sum()

100

In [27]:
#candyData[candyData['Age'] > 105]

In [28]:
candyData['Age'] = candyData['Age'].replace(2450, np.mean((24,50)))
candyData['Age'] = candyData['Age'].replace(4555, np.mean((45,55)))
candyData['Age'] = candyData['Age'].replace(394, 39)
candyData['Age'] = candyData['Age'].replace(7012, 71)

In [31]:
candyData[candyData['Age'] > 105]

,Going_out,Gender,Age,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers (a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Internal ID,,,,,,,,,,,,,,,,,,,,,
90274337,No,Other,312.0,Canada,BC,MEH,MEH,JOY,DESPAIR,MEH,...,pillow face. rubber bats. opening a pumpkin a...,I am Groot!,Blue and black,NaN,Sunday,NaN,1.0,NaN,NaN,"(69, 23)"
90279807,Yes,I'd rather not say,1000.0,Atlantis,"Emerald City, Petrolia",MEH,JOY,JOY,MEH,MEH,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(76, 34)"

In [32]:
candyData['Age'] = candyData.Age.mask((candyData['Age'] > 105), np.nan)
candyData['Age'] = candyData.Age.mask((candyData['Age'] < 5), np.nan)

In [33]:
candyData[candyData['Age'] > 105]

Empty DataFrame
Columns: [Going_out, Gender, Age, Q4: COUNTRY, Q5: STATE, PROVINCE, COUNTY, ETC, Q6 | 100 Grand Bar, Q6 | Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes), Q6 | Any full-sized candy bar, Q6 | Black Jacks, Q6 | Bonkers (the candy), Q6 | Bonkers (the board game), Q6 | Bottle Caps, Q6 | Box'o'Raisins, Q6 | Broken glow stick, Q6 | Butterfinger, Q6 | Cadbury Creme Eggs, Q6 | Candy Corn, Q6 | Candy that is clearly just the stuff given out for free at restaurants, Q6 | Caramellos, Q6 | Cash, or other forms of legal tender, Q6 | Chardonnay, Q6 | Chick-o-Sticks (we donÕt know what that is), Q6 | Chiclets, Q6 | Coffee Crisp, Q6 | Creepy Religious comics/Chick Tracts, Q6 | Dental paraphenalia, Q6 | Dots, Q6 | Dove Bars, Q6 | Fuzzy Peaches, Q6 | Generic Brand Acetaminophen, Q6 | Glow sticks, Q6 | Goo Goo Clusters, Q6 | Good N' Plenty, Q6 | Gum from baseball cards, Q6 | Gummy Bears straight up, Q6 | Hard Candy, Q6 | Healthy Fruit, Q6 | Heath Bar, Q6 | Hershey's Dark Chocolate, Q6 | HersheyÕs Milk Chocolate, Q6 | Hershey's Kisses, Q6 | Hugs (actual physical hugs), Q6 | Jolly Rancher (bad flavor), Q6 | Jolly Ranchers (good flavor), Q6 | JoyJoy (Mit Iodine!), Q6 | Junior Mints, Q6 | Senior Mints, Q6 | Kale smoothie, Q6 | Kinder Happy Hippo, Q6 | Kit Kat, Q6 | LaffyTaffy, Q6 | LemonHeads, Q6 | Licorice (not black), Q6 | Licorice (yes black), Q6 | Lindt Truffle, Q6 | Lollipops, Q6 | Mars, Q6 | Maynards, Q6 | Mike and Ike, Q6 | Milk Duds, Q6 | Milky Way, Q6 | Regular M&Ms, Q6 | Peanut M&MÕs, Q6 | Blue M&M's, Q6 | Red M&M's, Q6 | Green Party M&M's, Q6 | Independent M&M's, Q6 | Abstained from M&M'ing., Q6 | Minibags of chips, Q6 | Mint Kisses, Q6 | Mint Juleps, Q6 | Mr. Goodbar, Q6 | Necco Wafers, Q6 | Nerds, Q6 | Nestle Crunch, Q6 | Now'n'Laters, Q6 | Peeps, Q6 | Pencils, Q6 | Pixy Stix, Q6 | Real Housewives of Orange County Season 9 Blue-Ray, Q6 | ReeseÕs Peanut Butter Cups, Q6 | Reese's Pieces, Q6 | Reggie Jackson Bar, Q6 | Rolos, Q6 | Sandwich-sized bags filled with BooBerry Crunch, Q6 | Skittles, Q6 | Smarties (American), Q6 | Smarties (Commonwealth), Q6 | Snickers, Q6 | Sourpatch Kids (i.e. abominations of nature), Q6 | Spotted Dick, Q6 | Starburst, Q6 | Sweet Tarts, Q6 | Swedish Fish, Q6 | Sweetums (a friend to diabetes), Q6 | Take 5, Q6 | Tic Tacs, Q6 | Those odd marshmallow circus peanut things, Q6 | Three Musketeers, Q6 | Tolberone something or other, ...]
Index: []

[0 rows x 119 columns]

In [34]:
mean_age = candyData['Age'].mean(skipna=True)
mean_age

42.13418259023354

In [35]:
candyData.Age.isnull().sum()

105

In [37]:
candyData.Age.max()

102.0

In [38]:
candyData.Age.min()

5.0

In [39]:
candyData['Age'].fillna(value = mean_age, inplace = True)

In [40]:
candyData.Age.isnull().sum()

0

In [41]:
candyData['Age'] = candyData['Age'].round(0).astype(int)

In [42]:
candyData.Age.dtype

dtype('int64')

In [44]:
#candyData.Age.value_counts()

In [45]:
candyData['Going_out'].describe()

count     2350
unique       2
top         No
freq      2038
Name: Going_out, dtype: object

In [46]:
candyData['Going_out'].isnull().sum()

110

In [47]:
candyData['Going_out'].unique()

array([nan, 'No', 'Yes'], dtype=object)

In [48]:
candyData['Gender'].describe()

count     2419
unique       4
top       Male
freq      1467
Name: Gender, dtype: object

In [49]:
candyData['Gender'].isnull().sum()

41

In [50]:
candyData['Gender'].unique()

array([nan, 'Male', 'Female', "I'd rather not say", 'Other'], dtype=object)